<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>platporm</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script type="text/javascript" src="/static/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="/js/platform.js"></script>
</head>
<body class="plat-box">
	<div class="plat-cont" >
		<table  id="pro-table0" border="1">
			<caption>项目方提交的等待审核的项目</caption>
			<tr class="trh">
				<th>发布人</th>
				<th>项目名称</th>
				<th>项目所在地</th>
				<th>联系方式</th>
				<th>是否同意</th>
			</tr>
			<tr>
				<td>张三</td>
				<td>六子小馆</td>
				<td>山东省</td>
				<td>1888888888888</td>
				<td><span>同意</span><span>不同意</span></td>
			</tr>
		</table>
		<table  id="pro-table1" border="1">
			<caption>预热中的项目</caption>
			<tr class="trh">
				<th>发布人</th>
				<th>项目名称</th>
				<th>项目所在地</th>
				<th>联系方式</th>
				<th>是否同意</th>
			</tr>
			<tr>
				<td>张三</td>
				<td>六子小馆</td>
				<td>山东省</td>
				<td>1888888888888</td>
				<td><span>预热完成</span></td>
			</tr>
		</table>
		<table  id="pro-table2" border="1">
			<caption>融资中的项目</caption>
			<tr class="trh">
				<th>发布人</th>
				<th>项目名称</th>
				<th>项目所在地</th>
				<th>联系方式</th>
				<th>是否同意</th>
			</tr>
			<tr>
				<td>张三</td>
				<td>六子小馆</td>
				<td>山东省</td>
				<td>1888888888888</td>
				<td><span>融资完成</span></td>
			</tr>
		</table>
		<table  id="pro-table3" border="1">
			<caption>已成功的项目</caption>
			<tr class="trh">
				<th>发布人</th>
				<th>项目名称</th>
				<th>项目所在地</th>
				<th>联系方式</th>
				<th>是否同意</th>
			</tr>
			<tr>
				<td>张三</td>
				<td>六子小馆</td>
				<td>山东省</td>
				<td>1888888888888</td>
				<td><span>开始分红</span></td>
			</tr>
		</table>
		<table  id="pro-table4" border="1">
			<caption>已分红的项目</caption>
			<tr class="trh">
				<th>发布人</th>
				<th>项目名称</th>
				<th>项目所在地</th>
				<th>联系方式</th>
			</tr>
			<tr>
				<td>张三</td>
				<td>六子小馆</td>
				<td>山东省</td>
				<td>1888888888888</td>
			</tr>
		</table>
	</div>
</body>
</html>