 .md-perspective,
 .md-perspective body {
    height: 100%;
    overflow: hidden;
}

.md-perspective body  {
    background: #222;
    opacity: .8;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
}
.users{
    height: 100%;
    .container {
        min-height: 100%;
    }
    .content{
        width: 1000px;
        margin: 0 auto;
        .userMsg{
            background: #fff;
            border: 1px solid #ccc;
            margin-top: 35px;
            padding: 20px 0 15px 35px;
            .default{
                position: relative;
                z-index: 100;
                @include inline-block;
                @include border-radius(100px);
                border: 8px solid #fff;
                @include box-shadow(0 2px 3px #ccc);
                img{
                    @include inline-block;
                    width: 100px;
                    height: 100px;
                    @include border-radius(100px);
                }
            }
            .person{
                margin-left: 40px;
                width: 660px;
                .name{
                    @include inline-block;
                    font-size: 20px;
                    font-weight: 100;
                }
            }
            >ul{
                width: 813px;
                float: left;
                height: 60px;
                margin-top: 5px;
                overflow: hidden;
                background: #ececec;
                margin-left: -6px;
                padding-left: 30px;
                li{
                    @include inline-block;
                    height: 60px;
                    margin-left: 20px;
                    padding-right: 50px;
                    padding-top: 5px;
                    border-right: 1px dotted #ccc;
                    b{
                        line-height: 14px;
                        font-weight: normal;
                        font-size: 18px;
                    }
                    p{
                        line-height: 14px;
                        padding-top: 5px;
                        a{
                            @include inline-block;
                            line-height: 14px;
                            color: #000;
                            font-size: 14px;
                        }
                    }
                }
                .moneyMag{
                    line-height: 60px;
                    color: #e6504e;
                    border-right: none;
                    a{
                        font-size: 18px;
                        color: #db4f33;
                    }
                }
            }
            .btn-wrapper{
                margin-top: 15px;
                margin-right: 20px;
                button{
                    height: 30px;
                    line-height: 30px;
                    color: #fff;
                    padding-right: 5px;
                    text-align: center;
                    vertical-align: middle;
                }
            }
            .star{
                color: #000;
                margin-top: 73px;
                margin-left: 40px;
            }
        }
        .shop-wrapper{
            margin-top: 20px;
            ul{
                background: #fff;
                border: 1px solid #ccc;
                width: 230px;
                padding: 10px;
                li{
                    float: none;
                    position: relative;
                    cursor: pointer;
                    &:hover{
                        background: #f2f2f2;
                    }
                    a{
                        width: 180px;
                        color: #000;
                        height: 35px;
                        line-height: 35px;
                        padding-left: 20px;
                        @include inline-block;
                        .tip-icon{
                            background: url(../img/Tip.png) no-repeat;
                            @include inline-block;
                            overflow: hidden;
                        }
                        .arrow-down{
                            width: 10px;
                            height: 10px;
                            margin-top: 10px;
                            background-position: -234px -177px;
                        }
                        .arrow-right{
                            width: 5px;
                            height: 7px;
                            background-position: -224px -175px;
                            @include inline-block;
                            margin-top: 15px;
                            float: right;
                        }
                        span{
                            @include inline-block;
                            padding-left: 10px;
                        }
                        .shop{
                            width: 22px;
                            height: 22px;
                            background-position: -212px -254px;
                        }
                        .money{
                            width: 22px;
                            height: 25px;
                            background-position: -210px -538px;
                        }
                        .action{
                            width: 22px;
                            height: 22px;
                            background-position: -276px -254px;
                        }
                        .comment{
                            width: 22px;
                            height: 22px;
                            background-position: -269px -285px;
                        }
                        .fans{
                            width: 22px;
                            height: 22px;
                            background-position: -180px -285px;
                        }
                        .care{
                            width: 22px;
                            height: 22px;
                            background-position: -239px -285px;
                        }
                    }
                    dl{
                        display: none;
                        width: 230px;
                            //position: absolute;
                            z-index: 100;
                            dd{
                                a{
                                    text-indent: 13px;
                                }
                                &:hover{
                                    background: #f2f2f2;
                                }
                            }
                        }
                    }
            }
            .info{
                background: #fff;
                width: 728px;
                margin-left: 20px;
                border-top: 3px solid #000;
                .published{
                    border:solid 1px #ededed;
                    padding:10px 0;
                    background:#fff;
                    overflow: hidden;
                    img{
                        float: left;
                        width: 200px;
                        height: 200px;
                    }
                    .publup{
                        margin-left:20px;
                        float:right;
                        width: 250px;
                        height: 90px;
                        .pname{
                            font-size: 23px;
                            color: #2b4c66;
                        }
                        .updata{
                            line-height: 24px;
                            padding-top:15px;
                        }
                    }
                    .publdown{
                        color: #000;
                        margin-left:20px;
                        float:right;
                        width: 250px;
                        height: 90px;
                        p{
                            line-height: 150%;
                            font-size: 14px;
                        }
                    }
                }
                .invested{
                    border:solid 1px #ededed;
                    padding:10px 0;
                    background:#fff;
                    overflow: hidden;
                    img{
                        float: left;
                        width: 200px;
                        height: 200px;
                    }
                    .publup{
                        margin-left:20px;
                        float:right;
                        width: 250px;
                        height: 90px;
                        .pname{
                            font-size: 23px;
                            color: #2b4c66;
                        }
                        .updata{
                            line-height: 24px;
                            padding-top:15px;
                        }
                    }
                    .publdown{
                        color: #000;
                        margin-left:20px;
                        float:right;
                        width: 250px;
                        height: 90px;
                        p{
                            line-height: 150%;
                            font-size: 14px;
                        }
                    }
                }
            }
            .isshow{
                display: none;
            }
         }
    }
        .md-modal {
            position: fixed;
            top: 50%;
            left: 50%;
            width: 50%;
            max-width: 630px;
            min-width: 320px;
            height: auto;
            z-index: 2000;
            visibility: hidden;
            -webkit-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            .update{
                background: rgb(178, 143, 206);
                @include border-radius(10px);
                .title{
                    margin: 5px 10px;
                    font-size: 20px;
                    .ifoTitle{
                        font-family: 'Microsoft YaHei';
                        word-spacing: 2px;
                        @include inline-block;
                        color: #fff;
                    }
                    .close{
                        color: #f00;
                        @include inline-block;
                        font-weight: bold;
                        cursor: pointer;
                    }
                }
                .inputIfo{
                    padding-top: 20px;
                    width: 350px;
                    margin: 0 auto;
                    p{
                        margin: 30px 0;
                        label{
                            width: 80px;
                            text-align: right;
                            color: #fff;
                            font-size: 15px;
                            @include inline-block;
                            vertical-align: top;
                            margin-right: 10px;
                        }
                    }
                }
                .below{
                    width: 150px;
                    margin: 0 auto;
                    padding:30px 0;
                    text-align: center;
                    input{
                        height: 35px;
                        line-height: 35px;
                        color: #fff;
                    }
                }
            }
        }
        .md-show {
            visibility: visible;
        }
        .md-overlay {
            position: fixed;
            width: 100%;
            height: 100%;
            visibility: hidden;
            top: 0;
            left: 0;
            z-index: 1000;
            opacity: 0;
            background: rgba(155, 144, 194,0.5);
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        .md-show ~ .md-overlay {
            opacity: 1;
            visibility: visible;
        }
        .md-show.md-effect-18 ~ .container {
            height: 100%;
            overflow: hidden;
        }

        .md-show.md-effect-18 ~ .md-overlay {
            background: rgba(155, 144, 194,0.5);
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
        }
        .md-show.md-effect-18 ~ .container {
            height: 100%;
            overflow: hidden;
        }
        .md-show.md-effect-18 ~ .container,
        .md-show.md-effect-18 ~ .md-overlay {
            -webkit-transform-style: preserve-3d;
            -webkit-transform-origin: 0% 50%;
            -webkit-animation: rotateRightSideFirst 0.5s forwards ease-in;
            -moz-transform-style: preserve-3d;
            -moz-transform-origin: 0% 50%;
            -moz-animation: rotateRightSideFirst 0.5s forwards ease-in;
            transform-style: preserve-3d;
            transform-origin: 0% 50%;
            animation: rotateRightSideFirst 0.5s forwards ease-in;
        }

        @-webkit-keyframes rotateRightSideFirst {
            50% { -webkit-transform: translateZ(-50px) rotateY(5deg); -webkit-animation-timing-function: ease-out; }
            100% { -webkit-transform: translateZ(-200px); }
        }

        @-moz-keyframes rotateRightSideFirst {
            50% { -moz-transform: translateZ(-50px) rotateY(5deg); -moz-animation-timing-function: ease-out; }
            100% { -moz-transform: translateZ(-200px); }
        }

        @keyframes rotateRightSideFirst {
            50% { transform: translateZ(-50px) rotateY(5deg); animation-timing-function: ease-out; }
            100% { transform: translateZ(-200px); }
        }

        .md-effect-18 .md-content {
            -webkit-transform: translateX(200%);
            -moz-transform: translateX(200%);
            -ms-transform: translateX(200%);
            transform: translateX(200%);
            opacity: 0;
        }

        .md-show.md-effect-18 .md-content {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
            -webkit-transition: all 0.5s 0.1s;
            -moz-transition: all 0.5s 0.1s;
            transition: all 0.5s 0.1s;
        }

    }