.login{
	.header-wrapper{
        height: 90px;
        background: #292c3c;
        .logo-wrapper{
            a{
                width: 295px;
                height: 90px;
                @include inline-block;
                background:url(/img/logo.jpg) no-repeat;
            }
        }
        .nav{
            padding: 20px 0 0 40px;
            span{
                color: #fff;
                padding-top: 20px;
                @include inline-block;
            }
            .country{
                font-size: 16px;
                text-decoration: underline;
            }
            .change-city{
                font-size: 14px;
                margin-left: 10px;
            }
            .investment-project{
                @include inline-block;
                vertical-align: top;
                background: url(/img/tips.png) no-repeat -14px -22px;
                width: 55px;
                height: 46px;
                margin: 8px 10px 0 10px;
                &:hover{
                    background: url(/img/tips.png) no-repeat -77px -22px;
                }
            }
            .search-project{
                @include inline-block;
                margin-left: 110px;
                padding-top: 20px;
                .search-text{
                    @include border-corner-radius(top, right, 0);
                    @include border-corner-radius(bottom, right, 0);
                    background: #ccc;
                }
                .submit{
                    background: url(/img/searchBtn.gif) no-repeat;
                    width: 25px;
                    height: 30px;
                    border: none;
                    cursor: pointer;
                }
            }
        }
        .regist{
            margin: 40px 70px 0 0;
            a{
                font-size: 15px;
                color:#fff;
            }    
        }
    }
    .content-box{
        background:#fff;
        .content-box-info{
            width: 1000px;
            margin: 0 auto;
            padding: 90px 0 30px 0;
            .content{
                width: 918px;
                height: 380px;
                padding:50px 40px 0;
                border:1px solid #ccc;
                border-top:3px solid #000;
                .content-left{
                	width: 560px;
                	height: 100%;
                	form{
                		width: 560px;
                		height: 100%;
                		position: relative;
                		margin-left:20px;
                		float: left;
                		.content-left-top{
                        font-size: 25px;
                        font-weight: 2;
                        color: #000;
                        }
                		.input-box{
                			width: 350px;
                			margin-top:15px;
                			.input-img{
                				position:absolute;
                				padding:10px 0 0 5px;
                			}
                			input{
                				text-indent: 50px;
                				height: 45px;
                			}
                		}
                		.identify{
                			width: 350px;
                			margin-top:15px;
                			.id-code{
                				height: 40px;
                			}
                			.code{
                				@include inline-block;
                				margin-left:30px;
                			}
                		}
                		.login-imme{
                			margin: 5px 0 5px;
                			input{
                				height: 50px;
                				@include border-radius(5px);
                				background:#DB4F33;
                				color: #fff;
                				font-size: 20px;
                				font-weight: 5;
                				text-align: center;
                				border:1px #DB4F33 solid;
                			}  
                		}
                		.forget{
                			display: block;
                			width: 280px;
                			text-align: right;
                		}
                	}
                }
                .content-right{
                	width: 358px;
                	height: 180px;
                	.content-right-top{
                		color: #c12000;
                		font-size: 17px;

                	}
                	.yes{
                		margin-top: 70px;
                		font-size:17px;
                	}
                	.login{
                		margin-top: 20px;
                		border-radius:4px;
                		width: 120px;
                		height: 35px;
                		background:#DB4F33;
                		text-align: center;
                		line-height: 35px;
                		a{color: #fff;}
                	}
                }
            }
        }
    }
}